<head>
    <meta charset="utf-8">
    <title>@@title - FDA</title>
    <link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Open-source framework for publishing content",
            "datePublished": "2015-10-07T12:02:41Z",
            "image": [
                "logo.jpg"
            ]
        }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500,300" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" />
</head>