<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyClJ3Ur6zCQQWPtpkHi5WmEx8QWfrI1cgE"></script>
<script src="js/firebase-persistence.js"></script>
<script>
    window.onerror = function (msg, url, lineNo, columnNo, error) {
        var string = msg.toLowerCase();
        var substring = "script error";
        if (string.indexOf(substring) > -1){
            alert('Script Error: See Browser Console for Detail');
        } else {
            alert(msg, url, lineNo, columnNo, error);
        }
      return false;
    };
    /*
    var scoreForm = document.getElementById('score-form');
    if (scoreForm.addEventListener) {
        scoreForm.addEventListener('submit', submitScore, false); 
    } else if (scoreForm.attachEvent)  {
        scoreForm.attachEvent('onsubmit', submitScore);
    }
    function validateScore(){
        return true;
    }
    function validatePlayer(){
        return true;
    }
    function submitScore(e){
        var player = document.getElementById('player'),
            score = document.getElementById('score')
        e.preventDefault();
        if(validateScore && validatePlayer){
            postScore(player.value, score.value);
        }
    }*/
    //var holeFields = $("#scorecard").find("[name^='hole']");
    function addPlayer(){
        var table = $("#scorecard").find("tbody"),
            newPlayerNumber = table.find("tr").length + 1,
            html = "";
        html += '<tr><td><input id="player' + newPlayerNumber + '" type="text" aria-labelledby="player-label" maxlength="3" name="player-name' + newPlayerNumber + '"></td>';
        for(var i = 1;i<=9;i++){
            html += '<td><input type="number" min="1" max="9" aria-labelledby="player' + newPlayerNumber + ' hole-label hole' + i +'" name="hole' + i +'-' + newPlayerNumber + '"></td>'
        }
        html += '<td><input type="number" min="9" max="81" aria-labelledby="player' + newPlayerNumber + ' total" readonly name="total-' + newPlayerNumber + '"></td>';
        table.append(html);
    }

    function tintScore(el,score){
        score = parseInt(score,10);
        if(score < 3){
            el.removeClass("over-par");
            el.addClass("under-par");
        }
        else if(score > 3){
            el.removeClass("under-par");
            el.addClass("over-par");
        }
        else{
            el.removeClass("over-par");
            el.removeClass("under-par");
        }
    }

    function totalScore(el){
        var score = 0,
            pattern = /\d/,
            row = el.parents("tr"),
            holeFields = row.find("[name^='hole']"),
            totalField = row.find("[name^='total']"),
            thisVal;
        holeFields.each(function(){
            thisVal = $(this).val();
            if(thisVal.match(pattern)){
                score += parseInt(thisVal,10);
            }
        })
        if(score > 0){
            totalField.val(score);
        }
    }

    $("#scorecard").on("keyup","[name^='hole']",function(){
        var thisScore = $(this).val();
        if(thisScore !== ""){
            tintScore($(this),thisScore);
        }
        totalScore($(this));
    });

    function generateScoreTable(jsonData){
        var html = '<h2>Best Scores</h2><table class="score-table"><thead><tr><th></th><th colspan="9">Holes</th><th></th><tr><th>Player</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>Total</th></tr><tbody>',
            thisResult;
        for (var prop in jsonData) {
            if (jsonData.hasOwnProperty(prop)) {
                thisResult = jsonData[prop];
                html += '<tr><td>' + thisResult.name + '</td>';
                for(var j = 0;j<thisResult.holes.length;j++){
                    html += '<td>' + thisResult.holes[j] + '</td>';
                }
                html += '<td>' + thisResult.score + '</td></tr>';
            }
        }
        html += '</tbody></table>';
        $("#top-scores").append(html);
    }

    function submitScores(){
        var player,
            holes = [],
            total;
        $("#scorecard").find("tbody").find("tr").each(function(){
            player = $(this).find("[name^='player']").val();
            total = $(this).find("[name^='total']").val();
            $(this).find("[name^='hole']").each(function(){
                holes.push($(this).val());
            });
        });
    }

    function addBestScore(score, key, previousKey){
        var tableBody = $("#score-table-body"),
            newRow = "";
        newRow = '<tr id="' + key + '"><td>' + score.name + '</td>';
        for(var j = 0;j<score.holes.length;j++){
            newRow += '<td>' + score.holes[j] + '</td>';
        }
        newRow += '<td>' + score.score + '</td></tr>';
        if(previousKey){
            $("#" + previousKey).after(newRow);
        }
        else{
            tableBody.prepend(newRow);
        }
    }

    function removeBestScore(score, key){
        $("#" + key).remove();
    }

    registerForNLowestScores(2, addBestScore, removeBestScore);

    $("#add-player").on("click", function(){
        addPlayer();
    });
    // The following needs to be replaced with a validation process which enables the button once the fields are filled
    $("#submit-scores").prop('disabled', false);
    $("#submit-scores").on("click", function(){
        submitScores();
    });
</script>
<script>
    var map,
        latlngbounds;
    function map_initialize() {
        var icon = {
            path: "M-20,0a20,20 0 1,0 40,0a20,20 0 1,0 -40,0",
            fillColor: '#FF0000',
            fillOpacity: .6,
            anchor: new google.maps.Point(0,0),
            strokeWeight: 0,
            scale: 1
        };

        var icon2 = {
            path: "M 94.955,115.832 100,81.939 l -28.54,0 c 0,0 16.175,-24.743233 16.175,-70.983233 l 7.794981,0 0,-10.60221361 L 4.3836797,0 l 0,10.954767 8.6934273,0 c 0,46.24 15.458893,70.983233 15.458893,70.983233 l -28.536,0 0,0.024 5.041,33.869 35.274699,0 0,55.386 19.718155,0.22 0.353554,-55.606 34.567592,0 z",
            fillColor: '#000000',
            fillOpacity: 0.8,
            anchor: new google.maps.Point(0,0),
            strokeWeight: 0.5,
            strokeColor : "#FFFFFF",
            scale: 0.125
        };

        var golfHoles = [
            {
                name: "Hole One",
                latlng: new google.maps.LatLng(-39.0695346,174.1073713)
            },
            {
                name: "Hole Two",
                latlng: new google.maps.LatLng(-39.0701330,174.1083712)
            },
            {
                name: "Hole Three",
                latlng: new google.maps.LatLng(-39.0702351,174.1080711)
            },
            {
                name: "Hole Four",
                latlng: new google.maps.LatLng(-39.0706656,174.1099710)
            },
            {
                name: "Hole Five",
                latlng: new google.maps.LatLng(-39.0702351,174.1089714)
            },
            {
                name: "Hole Six",
                latlng: new google.maps.LatLng(-39.0698767,174.1087862)
            },
            {
                name: "Hole Seven",
                latlng: new google.maps.LatLng(-39.0706606,174.1073717)
            },
            {
                name: "Hole Eight",
                latlng: new google.maps.LatLng(-39.0706656,174.1088686)
            },
            {
                name: "Hole Nine",
                latlng: new google.maps.LatLng(-39.0695323,174.1094426)
            }
        ];
        map = new google.maps.Map(document.getElementById("map-container"), {
            center: new google.maps.LatLng(0, 0),
            zoom: 0,
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            scrollWheel: false,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        });
        for (var i = 0; i < golfHoles.length; i++) {
            new google.maps.Marker({
                position: golfHoles[i].latlng,
                map: map,
                icon: icon2,
                title: golfHoles[i].name
            });
        }
        latlngbounds = new google.maps.LatLngBounds();
        for (var i = 0; i < golfHoles.length; i++) {
            latlngbounds.extend(golfHoles[i].latlng);
        }
        map.fitBounds(latlngbounds);
    }
    google.maps.event.addDomListener(window, 'load', map_initialize);
    google.maps.event.addDomListener(window, "resize", function() {
        map.fitBounds(latlngbounds);
    });
</script>